@font-face {
    font-family: AirbnbCereal;
    src: url('./assets/fonts//airbnb-cereal/AirbnbCereal_W_Bk.otf') format(opentype)
        /*, url('./assets/fonts//airbnb-cereal/AirbnbCereal_W_Bk.woff2') format(woff2) */;
    font-weight: 400;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;
}

@font-face {
    font-family: AirbnbCereal;
    src: url('./assets/fonts//airbnb-cereal/AirbnbCereal_W_Bd.otf') format(opentype);
    font-weight: 700;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;
}

@font-face {
    font-family: AirbnbCereal;
    src: url('./assets/fonts//airbnb-cereal/AirbnbCereal_W_Md.otf') format(opentype);
    font-weight: 500;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;
}

@font-face {
    font-family: EksellDisplay; 
    src: url('./assets/fonts/Eksell-Display/ekselldisplaytrial-medium.otf') format(opentype);
    font-weight: 500;
    font-size: 4.2em;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;
}

@font-face {
    font-family: EksellDisplay;
    src: url('./assets/fonts/Eksell-Display/ekselldisplaytrial-small.otf') format(opentype);
    font-weight: 550;
    font-size: 6em;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;
}

@font-face {
    font-family: Roboto;
    src: url('./assets/fonts/Roboto-Medium/ofont.ru_Roboto\ Medium.ttf') format(truetab);
    font-weight: 500;
    font-size: 2em;
    font-style: normal;
    font-variant: normal;
    font-stretch: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Airbnb Cereal App", sans-serif;
}

a {
    text-decoration: none;
}

header {
    min-height: 100px;
    padding: 25px 0;
    border: 1px solid red;
}

h1,
h2 {
    font-family: EksellDisplay, sans-serif; 
}

button {
    border: 0;
}

ul {
    list-style: none;
}

.navigation__link {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.125;
    color: #002248;
}

.navigation__link_active {
    color: #3685fb;
}

.link {
    border-radius: 10px;
    display: inline-block;
    background-color: #3685fb;

    font-weight: 500;
    font-size: 16px;
    
    text-align: center;
    color: #fff;
}

.link_small {
    width: 120px;
    height: 50px;
    line-height: 50px;
}

.link_big {
    width: 170px;
    height: 60px;
    line-height: 60px;
}
.main {
    min-height: 100vh;
    backdrop-filter: blur(60px);
    background-color: #f8f8f8;
} 

.subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.125;
    color: #00b3a0;
}

.main__title {
    max-width: 523px;
    font-weight: 550;
    font-size: 60px;
    line-height: 1.2;
    text-transform: capitalize;
    color: #002248;
}

.text {
    max-width: 513px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #697687;
}

.book-now {
    box-shadow: 0 40px 170px 0 rgba(0, 34, 72, 0.07);
}

.book-now__list {
    padding: 44px 45px 44px 72px;
    background-color: #fcfcfc;
    border-top-left-radius: 55px;
    border-bottom-left-radius: 55px;
}

.book-now__btn {
    border-radius: 0 30px 30px 0;
    width: 210px;
    height: 143px;
    background-color: #3685fb;

    font-weight: 700;
    font-size: 18px;
    line-height: 1.38889;
    text-align: center;
    color: #fff;
}

.book-now__select {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 1;
    color: #002248;
    appearance: none;
    background-image: url(./assets/img/chevron-down.svg);
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    padding-right: 25px;
    border: none;
}